.navigation{
   margin: auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
       

}

.link {
    color: #1E58FF;
    text-decoration: none;
    }