.wrapper{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: 110px 1fr 95px;
    align-items: center;
    margin: 15px 40px  
}